<h2>New Expedition Form</h2>

<%= form_for @expedition do |f| %>
    <div>
        <%= f.label :name %>
        <div>
            <%= f.text_field :name %>
        </div>
    </div>
    <div>
        <%= f.label :description %>
        <div>
            <%= f.text_area :description %>
        </div>
    </div>
    <div>
        <%= f.label :length %>
        <div>
            <%= f.number_field :length, step: 0.01 %>
        </div>
    </div>
    <div>
        <%= f.label :difficulty %>
        <div>
            <%= f.text_field :difficulty %>
        </div>
    </div>

    <!-- Collection of checkboxes for equipment ids -->
    <div>
        <%= f.label "Select Equipment" %>
        <div>
            <%= f.collection_check_boxes :equipment_ids, @equipment, :id, :name %>
        </div>
    </div>

    <!-- 3 New Equipment Fields -->
    <%= f.fields_for :equipment do |equipment_fields| %>
        <%= equipment_fields.label :name %>
        <div>
            <%= equipment_fields.text_field :name %>
        </div>
    <% end %>

    <%= f.submit "Create Expedition" %>
<% end %>